.home{
    background-image: url(../Image/photo-1611186871348-b1ce696e52c9.jpeg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.home2 h1::after{
    content: "|";
    animation-name: type;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}
@keyframes type{
   0%{content: "Mobile Apps|";}
   20%{content: "|";}
   40%{content: "Web Apps|";}
   60%{content: "|";}
   80%{content: "WordPress|";}
   100%{content: "|";}
}
.video{
    background-color: aqua;
    border-radius: 32px;
    padding: 5px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}
.container h3{
    color: aqua;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
